body{
  height: 100vh;
  font-family: "Amaranth", serif;
  font-weight: 400;
  font-style: italic;
  position: relative;
  background-image: url(photo-1499209974431-9dddcece7f88.jpeg);
  background-size: cover;
  background-position: center;
}

section{
  display: grid;
  place-items: center;
  position: absolute;
  inset: 0;
}

section main {
  padding: 100px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  max-width: 600px;
  justify-content: center;
  align-items: center;
}

section main img {
  width: 100px;
  border-radius: 50%;
  aspect-ratio: 1;
  box-shadow: 0 0 5px 1px rgb(119,142,184);
}

section main h2{
  font-weight: 600;
  color: white;
  text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0, 0, 0, 0.8);
}

section main a {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: center;
  border:1.5px solid white;
  padding: 10px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  gap: 20px;
}

a:hover {
  background-color: white;
  color: #333;
}

footer {
  color: white;
  font-size: 0.7em;
  text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0, 0, 0, 0.8);
}